SeguridadWeb/SeguridadWeb-war/web/WEB-INF/wsdl/wls_7015/WS_LDAPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b02  svn-revision#14033. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b02  svn-revision#14033. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ldap.infocoop/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ldap.infocoop/" name="WS_LDAPService">
<types>
<xsd:schema>
<xsd:import namespace="http://ldap.infocoop/" schemaLocation="http://wls:7015/WS_LDAPService?xsd=1"/>
</xsd:schema>
</types>
<message name="correo">
<part name="parameters" element="tns:correo"/>
</message>
<message name="correoResponse">
<part name="parameters" element="tns:correoResponse"/>
</message>
<message name="consultarCorreoUsuario">
<part name="parameters" element="tns:consultarCorreoUsuario"/>
</message>
<message name="consultarCorreoUsuarioResponse">
<part name="parameters" element="tns:consultarCorreoUsuarioResponse"/>
</message>
<message name="consultarNombreUsuario">
<part name="parameters" element="tns:consultarNombreUsuario"/>
</message>
<message name="consultarNombreUsuarioResponse">
<part name="parameters" element="tns:consultarNombreUsuarioResponse"/>
</message>
<message name="validar">
<part name="parameters" element="tns:validar"/>
</message>
<message name="validarResponse">
<part name="parameters" element="tns:validarResponse"/>
</message>
<message name="nombre">
<part name="parameters" element="tns:nombre"/>
</message>
<message name="nombreResponse">
<part name="parameters" element="tns:nombreResponse"/>
</message>
<portType name="WS_LDAP">
<operation name="correo">
<input wsam:Action="http://ldap.infocoop/WS_LDAP/correoRequest" message="tns:correo"/>
<output wsam:Action="http://ldap.infocoop/WS_LDAP/correoResponse" message="tns:correoResponse"/>
</operation>
<operation name="consultarCorreoUsuario">
<input wsam:Action="http://ldap.infocoop/WS_LDAP/consultarCorreoUsuarioRequest" message="tns:consultarCorreoUsuario"/>
<output wsam:Action="http://ldap.infocoop/WS_LDAP/consultarCorreoUsuarioResponse" message="tns:consultarCorreoUsuarioResponse"/>
</operation>
<operation name="consultarNombreUsuario">
<input wsam:Action="http://ldap.infocoop/WS_LDAP/consultarNombreUsuarioRequest" message="tns:consultarNombreUsuario"/>
<output wsam:Action="http://ldap.infocoop/WS_LDAP/consultarNombreUsuarioResponse" message="tns:consultarNombreUsuarioResponse"/>
</operation>
<operation name="validar">
<input wsam:Action="http://ldap.infocoop/WS_LDAP/validarRequest" message="tns:validar"/>
<output wsam:Action="http://ldap.infocoop/WS_LDAP/validarResponse" message="tns:validarResponse"/>
</operation>
<operation name="nombre">
<input wsam:Action="http://ldap.infocoop/WS_LDAP/nombreRequest" message="tns:nombre"/>
<output wsam:Action="http://ldap.infocoop/WS_LDAP/nombreResponse" message="tns:nombreResponse"/>
</operation>
</portType>
<binding name="WS_LDAPPortBinding" type="tns:WS_LDAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="correo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCorreoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarNombreUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_LDAPService">
<port name="WS_LDAPPort" binding="tns:WS_LDAPPortBinding">
<soap:address location="http://wls:7015/WS_LDAPService"/>
</port>
</service>
</definitions>